<ion-header>
  <ion-toolbar>
    <ion-title>Gráfico de Colunas Empilhadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" routerLink="/chart/barras">Gráfico de Barras</ion-button>
  <ion-button expand="full" routerLink="/chart/linhas">Gráfico de Linhas</ion-button>
  <ion-button expand="full" routerLink="/chart/pizza">Gráfico de Pizza</ion-button>
  <ion-button expand="full" routerLink="/chart/dispersao">Gráfico de Dispersão</ion-button>
  <ion-button expand="full" routerLink="/chart/areas">Gráfico de Áreas</ion-button>
  <ion-button expand="full" routerLink="/chart/colunasEmpilhadas">Gráfico de Colunas Empilhadas</ion-button>
</ion-content>
